body {
    margin: 0px;
    padding: 0px;
    Font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 9.9px;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #959595;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.card-body a {
    color: white;
}

.headerBody {
    width: auto;
    height: 95px;
    margin: 0px auto;
}

.header {
    display: flex;
    width: 100%;
}

.siteLogo {
    margin: -18px 0px 0px 95px;
}

.search__container {
    margin: 18px 0px 0px 345px;
}

.search__input {
    width: 520px;
    padding: 11px 24px 11px 30px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 17.5px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #0475bb;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    z-index: 1;
}

.search__input::placeholder {
    color: color(#0475bb);
    letter-spacing: 1.6px;
}

.search__input:focus {
    padding: 10px 20px;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #0475bb;
    border-radius: 0;
    background-position: 100% center;
    box-shadow: none;
}

.buttons {
    margin: 25px 0px 0px 24px;
}

.buttonsS {
    margin: 25px 0px 0px 0px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 130px;
}

.btnn {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    padding: 0px 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #0475bb;
}

.effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #0475bb;
    outline: solid 2px #0475bb;
    position: relative;
    transition-duration: .6s;
    overflow: hidden;
}

.effect04::before,
.effect04 span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: .6s;
}

.effect04:hover {
    background-color: #0475bb;
}

.effect04:hover span {
    -webkit-transform: translateY(-400%) scale(-0.1, 20);
    transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
    content: attr(data-sm-link-text);
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1, 20);
    transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1, 1);
    transform: translateY(0) scale(1, 1);
}

#offers {
    margin-left: 5px;
    color: black;
    font-weight: 700;
}

.headText {
    margin: -49px 0px 0px 602px;
    display: flex;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.compare {
    margin-left: 5px;
    color: #b3b3b5;
}

.searchImg {
    margin: 4.5px 0px 0px 6px;
}

.searchImgCon {
    height: 35px;
    width: 35px;
    background-color: #0475bb;
    border-radius: 100px;
    position: relative;
    z-index: 2;
    margin: 23px 0px 0px -40px;
    opacity: 0.8;
}

.mySlides img {
    height: 406px;
    width: 100%;
}

#main {
    position: relative;
    list-style: none;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
    margin-left: 82px;
}

#main a {
    position: relative;
    padding-bottom: 4.5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

#main li {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    cursor: pointer;
    z-index: 5;
    min-width: 120px;
    margin-top: -5px;
}

#main a:hover {
    color: #0475bb;
}

#main a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    margin: -5px 0;
    background-color: #0475bb;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

#main a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0475bb;
    cursor: pointer;
    padding: 6px;
    border-radius: 100px;
}

#myBtn:hover {
    background-color: #ff4d52;
    transition: all 0.5s;
}

.er {
    padding: 10px;
    background-color: #0475bb;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin: 0 20px 5px 15px;
}

.er:hover {
    cursor: pointer;
    background-color: #01619c;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.roww {
    display: flex;
}

h3,
h4 {
    margin: 0px;
    padding: 0px;
}

h5 {
    color: #595959;
    letter-spacing: 0.5px;
    font-weight: 800;
    line-height: 28px;
    font-size: 17px;
    text-align: center;
    margin: 0px 0px 10px 0;
    padding: 3px 0px;
    background-color: #e9e9e9;
}

h6 {
    font-size: 15px;
    text-align: center;
    color: #595959;
    padding: 0px;
    margin: 8px 0px;
    background-color: #e9e9e9;
    padding: 10px 0px;
}

.col-left {
    width: 25%;
    margin: 0px 10px;
}

.col-right {
    width: 100%;
    margin: 0px 10px;
}

.form-check {
    padding: 10px;
    border: 1px solid #e6e6e6;
}

.list-group-item:hover {
    background-color: #d6d6d6;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.col {
    border: 1px solid #e6e6e6;
    padding: 5px;
    border-radius: 10px;
    width: 251px;
    margin: 10px 14px;
}

.col:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    cursor: pointer;
}

.div-img {
    width: 100%;
    height: 200px;
    padding-bottom: 5px;
}

.div-img img {
    width: 100%;
    height: 100%;
    padding: 0 45px;
}

.name {
    text-align: center;
    padding: 5px 0px;
    color: #223f95;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.card-body {
    margin-left: 5px;
    margin-top: 5px;
}

.card-title {
    font-size: 20px;
    color: #4f5e6f;
}

p {
    margin: 10px 0px 5px 0px;
}

.com {
    text-align: center;
    margin-bottom: 10px;
}

hr {
    color: #e6e6e6;
}

p span {
    font-weight: 700;
}

footer {
    width: 100%;
    height: 115px;
    margin-top: 50px;
    background-color: #f1f1f5;
    border-top: #dddddd 1px solid;
}

.flexRow {
    display: flex;
    margin: 0 auto;
    width: 930px;
}

.footText {
    width: 200px;
    text-align: center;
    margin-top: 49px;
    color: rgb(45, 50, 55);
    font-weight: normal;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footText:hover {
    text-decoration: underline;
}

.col-border {
    border: 1px solid #e6e6e6;
    padding: 10px 5px;
    margin: 16px 0px;
    background: #fafafa;
}

.container-fluid {
    margin-top: 3px;
    border-top: 1px solid #e6e6e6;
}

.cat {
    font-weight: 800;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: rgb(51, 51, 51);
    margin: 5px 0 5px 30px;
    padding-top: 10px;
}

.cat span {
    color: #44494f;
    font-style: italic;
    font-size: 28px;
}

.di {
    font-size: 14px;
    margin: 0px 310px 0 20px;
    padding: 9px 0;
}

.box {
    background-color: #e9e9e9;
    width: 340px;
    border-radius: 0px 10px 10px 0px;
}

.checked {
    color: orange;
}

input:checked {
    margin-left: 23px;
    transition: all .3s;
}

#myDIV {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    margin-top: 10px;
    display: none;
}

.form-check:hover {
    background-color: #d6d6d6;
}

.click:hover {
    background-color: #d6d6d6;
}

.flex {
    display: flex;
}

.flex input {
    width: 30%;
    margin-right: 5px;
    border: 1px solid #b3b3b5;
    padding: 3px 5px 3px 5px;
}

.flex button {
    border: 1px solid #b3b3b5;
    cursor: pointer;
    background-color: #3a9cda;
    color: white;
    font-weight: bold;
}

svg {
    vertical-align: middle;
}

.click:hover {
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

.boox {
    display: flex;
    margin: 14px 0px;
}

.color {
    display: flex;
    background-color: #e9e9e9;
}

.textChange {
    color: #595959;
    letter-spacing: 0.5px;
    font-weight: 800;
    line-height: 28px;
    font-size: 17px;
    text-align: center;
    padding: 3px 0;
}

.mobile img {
    height: 60px;
    vertical-align: middle;
}

select {
    padding: 4px 6px;
    margin: 4.5px 0px 0px 346px;
    background-color: #e6e6e6;
    border-color: #adadad;
    font-weight: bold;
}